name: Check Samples

on:

  workflow_dispatch:

  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: true
      DEVELOCITY_ACCESS_KEY:
        required: true
      ARTIFACTORY_USERNAME:
        required: true
      ARTIFACTORY_PASSWORD:
        required: true
env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  COMMIT_OWNER: ${{ github.event.pusher.name }}
  COMMIT_SHA: ${{ github.sha }}
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}

jobs:
  prerequisites:
    runs-on: ubuntu-latest
    if: github.repository == 'spring-projects/spring-pulsar'
    outputs:
      runjobs: ${{ steps.continue.outputs.runjobs }}
      project_version: ${{ steps.continue.outputs.project_version }}
      boot_version: ${{ steps.continue.outputs.boot_version }}
      pulsar_version: ${{ steps.continue.outputs.pulsar_version }}
    steps:
      - uses: actions/checkout@v6
      - id: continue
        name: Determine if should continue
        run: |
          # Run jobs if in upstream repository
          echo "runjobs=true" >>$GITHUB_OUTPUT
          # Extract version from gradle.properties
          version=$(cat gradle.properties | grep "version=" | awk -F'=' '{print $2}')
          echo "project_version=$version" >>$GITHUB_OUTPUT
          bootVersion=$(cat gradle/libs.versions.toml | grep "spring-boot = \"" | cut -d '"' -f2)
          echo "boot_version=$bootVersion" >>$GITHUB_OUTPUT
          pulsarVersion=$(cat gradle/libs.versions.toml | grep "pulsar = \"" | cut -d '"' -f2)
          echo "pulsar_version=$pulsarVersion" >>$GITHUB_OUTPUT
  check_samples:
    needs: [prerequisites]
    strategy:
      matrix:
        include:
          - javaVersion: 25
            springBootVersion: "${{ needs.prerequisites.outputs.boot_version }}"
            springPulsarVersion: "${{ needs.prerequisites.outputs.project_version }}"
            pulsarVersion: "${{ needs.prerequisites.outputs.pulsar_version }}"
            samplesTarget: ':runAllSampleTests'
          - javaVersion: 24
            springBootVersion: "${{ needs.prerequisites.outputs.boot_version }}"
            springPulsarVersion: "${{ needs.prerequisites.outputs.project_version }}"
            pulsarVersion: "${{ needs.prerequisites.outputs.pulsar_version }}"
            samplesTarget: ':runAllSampleTests'
          - javaVersion: 21
            springBootVersion: "${{ needs.prerequisites.outputs.boot_version }}"
            springPulsarVersion: "${{ needs.prerequisites.outputs.project_version }}"
            pulsarVersion: "${{ needs.prerequisites.outputs.pulsar_version }}"
            samplesTarget: ':runAllSampleTests'
          - javaVersion: 17
            springBootVersion: "${{ needs.prerequisites.outputs.boot_version }}"
            springPulsarVersion: "${{ needs.prerequisites.outputs.project_version }}"
            pulsarVersion: "${{ needs.prerequisites.outputs.pulsar_version }}"
            samplesTarget: ':runAllSampleTests'
          - javaVersion: 17
            springBootVersion: "${{ needs.prerequisites.outputs.boot_version }}"
            springPulsarVersion: "${{ needs.prerequisites.outputs.project_version }}"
            pulsarVersion: "3.3.8"
            samplesTarget: ':runAllSampleTests'
          - javaVersion: 17
            springBootVersion: "${{ needs.prerequisites.outputs.boot_version }}"
            springPulsarVersion: "${{ needs.prerequisites.outputs.project_version }}"
            pulsarVersion: "3.2.4"
            samplesTarget: ':runAllSampleTests'
    runs-on: ubuntu-latest
    if: needs.prerequisites.outputs.runjobs
    steps:
      - uses: actions/checkout@v6
      - uses: spring-io/spring-gradle-build-action@v2
        with:
          java-version: '25'
          distribution: 'liberica'
      - name: Build Java 25
        run: |
          ./gradlew clean build -x check publishMavenJavaPublicationToLocalRepository
      - uses: spring-io/spring-gradle-build-action@v2
        with:
          java-version: ${{ matrix.javaVersion }}
          distribution: 'liberica'
      - name: Check samples (Java ${{ matrix.javaVersion }})
        env:
          LOCAL_REPOSITORY_PATH: ${{ github.workspace }}/build/publications/repos
          VERSION: ${{ matrix.springPulsarVersion }}
          BOOT_VERSION: ${{ matrix.springBootVersion }}
          PULSAR_VERSION: ${{ matrix.pulsarVersion }}
          JAVA_VERSION: ${{ matrix.javaVersion }}
        run: |
          ./gradlew \
            --init-script ./spring-pulsar-sample-apps/sample-apps-check-ci.gradle \
            -PlocalRepositoryPath="$LOCAL_REPOSITORY_PATH" \
            -PspringPulsarVersion="$VERSION" \
            -PspringBootVersion="$BOOT_VERSION" \
            -PpulsarVersion="$PULSAR_VERSION" \
            -PtestToolchain="$JAVA_VERSION" \
            -PsampleTests \
            -x compileJava \
            ${{ matrix.samplesTarget }}
