name: CI PRs

on:
  pull_request:
    branches:
      - 'main'
      - '0.2.x'
    paths-ignore:
      - '.github/**'
env:
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
  GRADLE_ENTERPRISE_URL: 'https://ge.spring.io'
  GRADLE_ENTERPRISE_CACHE_USER: ${{ secrets.GRADLE_ENTERPRISE_CACHE_USER }}
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GRADLE_ENTERPRISE_CACHE_PASSWORD }}
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_SECRET_ACCESS_KEY }}

jobs:
  build_and_verify:
    name: Build and Verify
    if: github.repository == 'spring-projects/spring-pulsar'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Setup Gradle user name
        run: |
          mkdir -p ~/.gradle
          echo 'systemProp.user.name=spring-builds+github' >> ~/.gradle/gradle.properties

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        env:
          GRADLE_USER_HOME: ~/.gradle

      - name: Build and run unit tests
        run: |
          ./gradlew clean build -x integrationTest --continue --scan

      - name: Create Aggregated Jacoco Report
        if: contains(github.event.pull_request.labels.*.name, 'ci/upload-jacoco')
        run: |
          ./gradlew aggregateJacocoTestReport --info

      - name: Upload Aggregated Jacoco Report
        if: contains(github.event.pull_request.labels.*.name, 'ci/upload-jacoco')
        uses: actions/upload-artifact@v3
        with:
          name: jacoco-results
          path: 'build/reports/jacoco/**/*.*'
          retention-days: 3

      - name: Run integration tests
        run: |
          ./gradlew integrationTest --rerun-tasks -DdownloadRabbitConnector=true --scan

      - name: Capture Test Results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: '*/build/reports/tests/**/*.*'
          retention-days: 3
